.writercreatechapters-page {
  padding: 32px;
  min-height: 100vh;
  background: #fff;
}

.writercreatechapters-editor-container {
  max-width: 1200px;
  margin: 30px 0 0 220px;
  background: #fff;
  border-radius: 12px;
  padding: 32px;
}

.writercreatechapters-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 220px;
  height: 60px;
  background: #fff;
  align-items: center;
  width: calc(100% - 220px);
  border-bottom: 1px solid #e1e6f5;
  z-index: 101;
  padding: 0 32px;
  justify-content: space-between;
}

.writercreatechapters-back-btn {
  font-size: 16px;
  color: #515fa0;
}
